/*============================  RESET ============================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

ul li{
  text-decoration: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*============================  VARIABLES ============================ */

/* !!!!!!!!!! */
/* O HUE É QUE GERENCIA TODA A COR DO SITE, ALTERANDO ELE VOCE ALTERA TODAS AS PARTES DO SITE QUE CONTEM ELE INSERIDO*/


:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 100;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 70% 50%);
  --base-color-second: hsl(var(--hue) 70% 57%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
} 

/*============================  BASE ============================ */

html {
  scroll-behavior: smooth;
}

 body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
} 

.title{
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background: var(--base-color-alt);
}

/*============================  LAYOUT ============================ */

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-color);
}

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

/*============================  LOGO ============================ */

.logo {
  font: 700 1.31rem var(--title-font);
  color: var(--title-color);
}

/*============================  NAVIGATION ============================ */

nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

nav .menu .login{
  margin-left: 16rem;
}

.fa-coins{
  margin-left: 1.28rem;
}

/*============================ MOSTRAR MENU ============================*/

/* CONFIGURAÇÃO DO MENU HAMBUGUER FEITO LÁ NO JS, AQUI QUE VOCE ALTERA O VISUAL DO MESMO */
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--body-color);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/*============================ toggle menu ============================*/

/* CONFIGURAÇÃO DO "X" DO MENU HAMBURGER */
.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/*============================  HOME ============================ */

#home {
  overflow: hidden;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.836) 0, black 70%, rgba(1, 161, 1, 0.712) 30%);
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image img {
  position: relative;
  left: 8.5rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}

#home .text .title{
  background: linear-gradient(to right, #03A66A -10%, #FFEF61 90.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
} 

#home .button{
  margin-right: 2.143rem;
}

.github{
  
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 10px;
  gap: 10px;
  
  position: absolute;
  width: 133px;
  height: 45px;

  background: linear-gradient(to right, #34B469 -19.72%, rgba(251, 255, 56, 0.65) 145.14%);
  border-radius: 4px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  color: #222222;
}

.download{

margin-left: 180px;
box-sizing: border-box;

flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 145px;
height: 45px;

border-radius: 4px;

background: linear-gradient(to right, #2CB269 -7.24%, rgba(251, 255, 56, 0) 215.4%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;

}

/*============================  SERVICES ============================ */

.cards.grid {
  gap: 2rem;
}

.card {
  padding: 3.625rem 4.92rem;
  box-shadow: 8px 15px 15px 8px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.85rem;
  text-align: left;
}

.card i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #000000;
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

/*============================  TESTIMONIALS ============================ */
#testimonials {
  background: #222222;
}

#testimonials h2{
  color: #FFFFFF;
}

#testimonials .container {
  margin-left: 0;
  margin-right: 0;
}

#testimonials header {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0;
}

#testimonials blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
  background: #FFFFFF;
}

#testimonials blockquote p {
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
  color: var(--title-color);
}

#testimonials blockquote p span {
  font: 700 2.5rem serif;
  position: absolute;
  top: -0.375rem;
  left: -1.875rem;
  color: var(--base-color);
}

#testimonials cite {
  display: flex;
  align-items: center;
  font-style: normal;
}

#testimonials cite img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  clip-path: circle();
  margin-right: 0.5rem;
}

/* swiper */
.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
}

.swiper-pagination-bullet-active {
  background: linear-gradient(209.51deg, #34B469 0%, rgba(251, 255, 56, 0.56) 108.05%);
}

/*============================  CONTACT ============================ */
#contact .grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact .button i,
#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li i {
  color: var(--base-color);
}

/*============================ FOOTER ============================ */

footer {
  background: #222222;
}

footer.section {
  padding: 4rem 0;
}

footer i {
  font-size: 1.2rem;
  color: var(--text-color-light);
}

footer .social{
  margin-right: 100rem;
}

footer .social a {
  margin-right: 2rem;
  transition: 0.3s;
  display: inline-block;
}

footer .social p {
  color: #fff;
  margin-bottom: 1.4rem;
}

footer .social a:hover {
  transform: translateY(-8px);
}

.part2{
  height: 2.3rem;;
  background: #272727;
  color: #FFFFFF;
  text-align: center;
}

.part2 .text p{
  padding: 7px;
}

/*============================ ICONE BACK TO TOP ============================*/

.back-to-top {
  background-image: linear-gradient(to right, #03A66A, #FFEF61);
  color: var(--text-color-light);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/*============================ MEDIA QUERIES ============================*/

/* extra large devices: 1200 > */
@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }

  main {
    margin-top: 4.5rem;
  }

  .section header,
  #testimonials header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.125rem;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.active {
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
  }

  nav .icon-menu {
    display: none;
  }

  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }

  #about .container {
    margin: 0 auto;
    grid-auto-flow: column;
  }

  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  /* footer */
  footer .section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }
}
/* large devices: 1023 > */

/* large devices: 992 > */
@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
}